@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo!</h1>
    <h2>Contas e Movimentações</h2>
    <p>Projeto desenvolvido na unidade de PROGRAMAÇÃO ORIENTADA A OBJETOS II</p>
    <h3>Professor:ROSENCLEVER LOPES GAZONI</h3>
    <p>Para mais informações ,ou o código do projeto acesse -> <a href="https://github.com/MMVSILVA" target="_blank">Meu Github</a>.</p>
</div>
